/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the navbar */
.navbar {
    background-color: #3498db;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

/* Container for the content */
.container {
    padding: 20px;
}

/* Center the canvas */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

canvas {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 80%;
    height: 40%;
    background-position: center;
}

/* Style the buttons and inputs */
.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.form-control,
.form-range {
    width: 80px;
}

/* Arrange sorting algorithm buttons */
.algorithm-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.algorithm-button {
    width: 48%;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .algorithm-button {
        width: 100%;
    }
}
